# Jquery
jquery-2.2.1.min.js


# node_modules
node_modules/

#mocha
test/mocha.js
test/mocha.css/

#chai
test/chai.js

#manageAlarms and periodicScheduler not ready for production
manageAlarms.html
periodicScheduler.html
